<md-dialog aria-label="Annotazioni non salvate">
    <md-toolbar>
        <div class="md-toolbar-tools teapot-tb-secondary">
            <h2>Annotazioni non salvate</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="stageDialog.close()">
                <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-padding" layout="row" flex="100" layout-wrap layout-align="none" layout-xs="column" layout-padding>
        <staging-area></staging-area>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-xs="column" layout-align="space-around center">
        <dir-pagination-controls max-size="5"></dir-pagination-controls>
        <span class="staging-buttons" flex layout="row" layout-padding>
            <md-button ng-hide="stageDialog.mainButton" ng-click="stageDialog.saveAll()" class="md-raised md-primary" flex="50">
                <md-tooltip>Salva tutte le annotazioni</md-tooltip>
                <md-icon class="material-icons">done_all</md-icon>
            </md-button>
            <md-button ng-hide="stageDialog.mainButton" ng-click="stageDialog.deleteAll()" class="md-raised md-warn" flex="50">
                <md-tooltip>Elimina tutte le annotazioni</md-tooltip>
                <md-icon class="material-icons">delete_forever</md-icon>
            </md-button>
        </span>
    </md-dialog-actions>
</md-dialog>
