<!-- Tempplate per il modale "Strumenti" -->
<md-dialog class="fullscreen-dialog raschietto-tools-dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><md-icon class="material-icons">settings</md-icon> Strumenti</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dialog.cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
                <md-tabs md-dynamic-height md-border-bottom md-selected="dialog.active">
                    <md-tab label="Documenti">
                        <md-content class="md-padding" ng-controller="DocumentController as docArea">
                            <h1 class="md-display-2">Documenti disponibili</h1>
                            <md-list ng-repeat="doc in docArea.docs">
                                <md-list-item class="md-3-line">
                                    <div class="md-list-item-text" layout="column">
                                        <h5>{{doc.title.value}}</h5>
                                        <br/>
                                        <p>URL: {{doc.url.value}}</p>
                                        </br>
                                        <p>DOI: {{doc.doi.value}}</p>
                                        </br>
                                    </div>
                                </md-list-item>
                                <md-divider></md-divider>
                            </md-list>
                        </md-content>
                    </md-tab>
                    <md-tab label="Annotazioni">
                        <md-content class="md-padding">
                            <meta-area></meta-area>
                        </md-content>
                    </md-tab>
                    <md-tab label="Filtri">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Tab Three</h1>
                            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet
                                interdum tellus. Curabitur posuere molestie dictum.
                                Morbi eget congue risus, quis rhoncus quam. Suspendisse
                                vitae hendrerit erat, at posuere mi. Cras eu fermentum
                                nunc. Sed id ante eu orci commodo volutpat non
                                ac est. Praesent ligula diam, congue eu enim scelerisque,
                                finibus commodo lectus.</p>
                        </md-content>
                    </md-tab>
                </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                More on Wikipedia
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
