@charset "UTF-8";
/*****GODDAMN FONTS!************/
md-icon.avatar-font {
  font-family: 'Kreon', serif;
  font-size: 2rem;
  display: block;
  width: 2.2rem;
  height: 2.1rem; }

md-card-header-text.annocard-header {
  position: relative;
  left: 0.5rem;
  top: 0.5rem; }

md-card.annocard {
  background-color: #FBFBFB;
  /*    background-color: #F0F8FF; */ }

md-card.annocard * {
  word-wrap: break-word; }

.md-toolbar {
  color: white;
  /* Colore barra sidenav == reader */
  /* Colore barra sidenav == annotator */
  /* Colore per la barra principale */ }
  .md-toolbar.teapot-mode-reader {
    padding: 1em;
    background-color: #008cba; }
  .md-toolbar.teapot-mode-annotator {
    padding: 1em;
    background-color: #f04124; }
  .md-toolbar.teapot-toolbar {
    background-color: #222222; }

/* Il titolo della sidenav! */
h2.nav-mode-title {
  text-align: center;
  text-transform: uppercase; }

.teapot-switch-mode-button {
  text-transform: none; }

/* Il blu che piace ai più */
.md-button.teapot-primary {
  background-color: #008cba; }

#main-content {
  position: relative;
  top: 4em; }

main-area {
  word-wrap: break-word;
  text-align: justify; }

.teapot-sidenav {
  position: fixed; }
