/*App colors*/
$myBlue: rgb(0, 140, 186);
$myRed: rgb(240, 65, 36);
$myBlack: rgb(34, 34, 34);

/*Annotation colors*/
$hasTitleColor: #FF4316;
$hasAuthorColor: #62B31A;
$hasURLColor: lightBlue;
$hasDOIColor: #FF8A22;
$hasPublicationYearColor: #0862C3;
$denotesRhetoricColor: #CAC4BC;
$hasCommentColor: cadetblue;
$citesColor: #FFB72D;
$mixedColor: #FF9999;
