/* Colore barra sidenav == reader */

.md-toolbar.teapot-mode-reader {
    background-color: rgb(0, 140, 186);
    color: white;
    padding: 1em;
    border-radius: 0;
}
/* Colore barra sidenav == annotator */

.md-toolbar.teapot-mode-annotator {
    background-color: rgb(240, 65, 36);
    color: white;
    padding: 1em;
    border-radius: 0;
}
/* Colore per la barra principale */

.md-toolbar.teapot-toolbar {
    background-color: rgb(34, 34, 34);
    /*    position: fixed;*/
}
/* Il titolo della sidenav! */

h2.nav-mode-title {
    text-align: center;
    text-transform: uppercase;
}
.teapot-switch-mode-button {
    text-transform: none;
}
/* Il blu che piace ai più */

.md-button.teapot-primary {
    background-color: rgb(0, 140, 186);
}
#main-content {
    position: relative;
    top: 4em;
}
main-area {
    word-wrap: break-word;
    text-align: justify;
}
.teapot-sidenav {
    position: fixed;
}
/* $mdDialog - fullscreen dialog styling */

@media screen and (max-width: 760px) {
    .fullscreen-dialog .raschietto-tools-dialog {
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
    }
}
/*****GODDAMN FONTS!************/

md-icon.avatar-font {
    font-family: 'Kreon', serif;
    font-size: 2rem;
    display: block;
    width: 2.2rem;
    height: 2.1rem;
}
/**************************/

[ng-click]:hover {
    cursor: pointer;
}
md-content.md-default-theme {
    background-color: #eee;
}
md-sidenav > md-toolbar {
    padding: 15px;
    height: 150px;
    max-height: 150px;
}
md-sidenav md-list-item.md-2-line .md-list-item-text {
    padding-top: 14px;
    padding-bottom: 12px;
}
md-sidenav md-divider {
    margin-top: 4px;
    margin-bottom: 4px;
}
md-sidenav md-icon {
    fill: #737373;
    position: relative;
}
md-sidenav .md-avatar {
    height: 64px;
    width: 64px;
}
/* More closely matches https://www.google.com/design/spec/components/lists.html#lists-specs */

md-list-item.md-3-line md-divider[md-inset] {
    left: 70px;
}
.md-avatar > svg {
    border-radius: 50%;
}
