@import 'styles/colors.scss';
@import 'styles/annotationCard.scss';
@import 'styles/textAnnotations.scss';
@import 'styles/styleloginmodal.scss';
@import 'styles/newAnnoDialog.scss';
@import 'styles/pagination.scss';


.filtered {
    background-color: white !important;
}


.md-fab#add-annotation {
    position: fixed;
    right: 2em;
    bottom: 2em;
    background-color: $myBlue;
}

.md-toolbar {
    color: white;
    /* Colore barra sidenav == reader */
    &.teapot-mode-reader {
        padding: 1em;
        background-color: $myBlue;
    }
    /* Colore barra sidenav == annotator */
    &.teapot-mode-annotator {
        padding: 1em;
        background-color: $myRed;
    }
    /* Colore per la barra principale */
    &.teapot-toolbar {
        background-color: $myBlack;
    }

    &.teapot-tb-secondary {
        background-color: $myBlue;
    }
}

/* Il titolo della sidenav! */

h2.nav-mode-title {
    text-align: center;
    text-transform: uppercase;
}
.teapot-switch-mode-button {
    text-transform: none;
}
/* Il blu che piace ai più */

.md-button.teapot-primary {
    background-color: $myBlue;
}
#document-view {
    //position: relative;
    //top: 4em;
    margin-top: 2em;
}

main-area {
    word-wrap: break-word;
    text-align: justify;

    // Per le stupide immagini enormi
    img{
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }
    // Per le stupide tabelle giganti
    table {
        table-layout: fixed;
        width: 100%;
    }

}
.teapot-sidenav {
    position: fixed;
}

h5.titolo_inElencoDoc.ng-binding {
    color: #349EC2;
    font-size: 105%;
}

h5.titolo_inElencoDoc:hover {
    cursor: pointer;
    color: #0B6C8C;
}

/* 
div.md-list-item-text.layout-column:hover {
background-color: #FFF7F5;
} */
