@import 'styles/annotationCard.scss';
@import 'styles/textAnnotations.scss';

$myBlue: rgb(0, 140, 186);
$myRed: rgb(240, 65, 36);
$myBlack: rgb(34, 34, 34);

.md-fab#add-annotation {
    position: fixed;
    right: 2em;
    bottom: 2em; 
    background-color: $myBlue;
}

.md-toolbar {
    color: white;
    /* Colore barra sidenav == reader */
    &.teapot-mode-reader {
        padding: 1em;
        background-color: $myBlue;
    }
    /* Colore barra sidenav == annotator */
    &.teapot-mode-annotator {
        padding: 1em;
        background-color: $myRed;
    }
    /* Colore per la barra principale */
    &.teapot-toolbar {
        background-color: $myBlack;
    }
}

/* Il titolo della sidenav! */

h2.nav-mode-title {
    text-align: center;
    text-transform: uppercase;
}
.teapot-switch-mode-button {
    text-transform: none;
}
/* Il blu che piace ai più */

.md-button.teapot-primary {
    background-color: $myBlue;
}
#main-content {
    position: relative;
    top: 4em;
}
main-area {
    word-wrap: break-word;
    text-align: justify;
}
.teapot-sidenav {
    position: fixed;
}

