span.anno-hasTitle {
    background-color: red;
}
span.anno-hasAuthor {
    background-color: green;
}
span.anno-hasURL {
    background-color: lightBlue;
}
span.anno-hasDOI {
    background-color: purple;
}
span.anno-hasPublicationYear {
    background-color: blue;
}
span.anno-denotesRethoric{
    background-color: grey;
}
span.anno-hasComment{
    background-color: lightblue ;
}
span.anno-cites{
    background-color: yellow;
}
span.anno-mixed{
    background-color: brown;
}


