$hasTitleColor: #FF4316;
$hasAuthorColor: #62B31A;
$hasURLColor: lightBlue;
$hasDOIColor: #FF8A22;
$hasPublicationYearColor: #0862C3;
$denotesRhetoricColor: #CAC4BC;
$hasCommentColor: cadetblue;
$citesColor: #FFB72D;
$mixedColor: #FF9999;

span.anno-hasTitle {
    background-color: $hasTitleColor;
}
span.anno-hasAuthor {
    background-color: $hasAuthorColor;
}
span.anno-hasURL {
    background-color: $hasURLColor;
}
span.anno-hasDOI {
    background-color: $hasDOIColor;
}
span.anno-hasPublicationYear {
    background-color: $hasPublicationYearColor;
}
span.anno-denotesRhetoric{
    background-color: $denotesRhetoricColor;
}
span.anno-hasComment{
    background-color: $hasCommentColor ;
}
span.anno-cites{
    background-color: $citesColor;
}
span.anno-mixed{
    background-color: $mixedColor;
}



