$hasTitleColor: red;
$hasAuthorColor: green;
$hasURLColor: lightBlue;
$hasDOIColor: purple;
$hasPublicationYearColor: blue;
$denotesRhetoricColor: grey;
$hasCommentColor: cadetblue;
$citesColor: yellow;
$mixedColor: brown;

span.anno-hasTitle {
    background-color: $hasTitleColor;
}
span.anno-hasAuthor {
    background-color: $hasAuthorColor;
}
span.anno-hasURL {
    background-color: $hasURLColor;
}
span.anno-hasDOI {
    background-color: $hasDOIColor;
}
span.anno-hasPublicationYear {
    background-color: $hasPublicationYearColor;
}
span.anno-denotesRhetoric{
    background-color: $denotesRhetoricColor;
}
span.anno-hasComment{
    background-color: $hasCommentColor ;
}
span.anno-cites{
    background-color: $citesColor;
}
span.anno-mixed{
    background-color: $mixedColor;
}


