<md-menu-bar flex="100" layout-padding layout="row" layout-align="space-around bottom" class="md-whiteframe-5dp">
    <md-menu flex>
        <button ng-click="$mdOpenMenu()">
            Per tipologia
        </button>
        <md-menu-content>
            <md-menu-item ng-repeat="(key, val) in filter.filters" ng-show="filter.isTypeFilter(val)" layout-padding>
                <md-button ng-click="filter.toggle(key)">
                    <span>
                        <md-icon class="material-icons" ng-show="filter.exists(val)">check</md-icon>
                        {{val.name}}
                    </span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-menu flex>
        <button ng-click="$mdOpenMenu()">
            Per utente
        </button>
        <md-menu-content>
            <md-menu-item class="md-indent" ng-repeat="(key, val) in filter.filters" ng-show="filter.isProvenanceFilter(val)" layout-padding>
                <md-button ng-click="filter.toggle(key)">
                    <span>
                        <md-icon class="material-icons" ng-show="filter.exists(val)">check</md-icon>
                        {{val.name}}
                    </span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-menu flex>
        <button ng-click="$mdOpenMenu()">
            Per gruppo
        </button>
        <md-menu-content>
            <md-menu-item class="md-indent" ng-repeat="(key, val) in filter.filters" ng-show="filter.isGroupFilter(val)" layout-padding>
                <md-button ng-click="filter.toggle(key)">
                    <span>
                        <md-icon class="material-icons" ng-show="filter.exists(val)">check</md-icon>
                        {{val.name}}
                    </span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-menu flex>
        <button ng-click="$mdOpenMenu()">
            Le mie annotazioni
        </button>
        <md-menu-content>
            <md-menu-item class="md-indent" layout-padding>
                <md-button ng-click="filter.toggleOwn(true)">
                    Visualizza tutte
                </md-button>
            </md-menu-item>
            <md-menu-item class="md-indent" layout-padding>
                <md-button ng-click="filter.toggleOwn(false)">
                    Nascondi tutte
                </md-button>
            </md-menu-item>
            <md-menu-item class="md-indent" layout-padding>
                <md-button ng-click="filter.hideOthers()">
                    Nascondi tutte le altre
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-menu flex>
        <button ng-click="$mdOpenMenu()">
            Tutte le annotazioni
        </button>
        <md-menu-content>
            <md-menu-item class="md-indent" layout-padding>
                <md-button ng-click="filter.toggleAll(true)">
                    Visualizza tutte
                </md-button>
            </md-menu-item>
            <md-menu-item class="md-indent" layout-padding>
                <md-button ng-click="filter.toggleAll(false)">
                    Nascondi tutte
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>
