<md-dialog class="md-dialog-fullscreen newAnnoModal" ng-cloak>
    <md-toolbar id="edit-anno-bar" class="md-toolbar teapot-tb-secondary">
        <div class="md-toolbar-tools">
            <h2>
                <span>Nuova annotazione</span>
            </h2>
            <span flex class="teapot-edit-buttons" ng-show="dialog.editingSelection">
                <md-button class="md-raised" ng-click="dialog.confirmSelection()">Conferma</md-button>
            </span>
            <md-button ng-click="dialog.cancel()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex layout="column" class="newAnno-content" ng-hide="dialog.editingSelection"
                                                                    layout-padding>

        <!-- select -->
        <br/>
        <br/>
        <md-input-container flex="100">
            <label>Tipo di annotazione</label>
            <md-select ng-model="dialog.typeSelected">
                <md-option value="hasTitle">Titolo</md-option>
                <md-option value="hasAuthor">Autore</md-option>
                <md-option value="hasPublicationYear">Anno di pubblicazione</md-option>
                <md-option value="hasDOI">DOI</md-option>
                <md-option value="hasURL">URL</md-option>
                <md-option value="hasComment">Commento</md-option>
                <md-option value="denotesRhetoric">Retorica</md-option>
                <md-option value="cites">Citazione</md-option>
            </md-select>
        </md-input-container>

        <!-- form collection -->

        <div layout="column">
            <!--title-->
            <md-input-container ng-show="dialog.showFields('hasTitle')">
                <label>Titolo del documento</label>
                <input ng-model="dialog.annotations.hasTitle.title">{{dialog.text}}
                </input>
            </md-input-container>

            <!--author-->
            <span ng-show="dialog.showFields('hasAuthor')">
                <md-chips
                  ng-model="dialog.annotations.hasAuthor.authors"
                  md-separator-keys="dialog.keys"
                  placeholder="Autore del documento"
                  secondary-placeholder="Autori, separati da virgola"></md-chips>
              <br/>
            </span>

            <!--pubYear-->
            <md-input-container ng-show="dialog.showFields('hasPublicationYear')">
                <label>Anno di pubblicazione</label>
                <input type="number" ng-model="dialog.annotations.hasPublicationYear.year">
            </md-input-container>

            <!--doi-->
            <md-input-container ng-show="dialog.showFields('hasDOI')">
                <label>DOI del documento</label>
                <input ng-model="dialog.annotations.hasDOI.doi">
            </md-input-container>

            <!--url-->
            <md-input-container ng-show="dialog.showFields('hasURL')">
                <label>URL del documento</label>
                <input ng-model="dialog.annotations.hasURL.url">
            </md-input-container>

            <!--comment-->
            <div ng-show="dialog.showFields('hasComment')">
                <md-input-container class="md-block" ng-show="dialog.hasFragment()">
                    <label>Inserisci un commento</label>
                    <textarea ng-model="dialog.annotations.hasComment.comment" rows="5" md-select-on-focus>
                    </textarea>
                </md-input-container>
                <md-content ng-hide="dialog.hasFragment()">Attenzione: questo tipo di annotazione richiede una selezione testuale.
                </md-content>
            </div>

            <!--rhetoric-->
            <div ng-show="dialog.showFields('denotesRhetoric')">
                <md-input-container>
                    <h3 ng-show="dialog.hasFragment()">Funzione retorica del frammento selezionato:</h3>
                    <md-radio-group layout="row" ng-show="dialog.fragment" ng-model="dialog.annotations.denotesRhetoric.rhetoric">
                        <md-radio-button value="sro:Abstract" class="md-primary">Abstract</md-radio-button>
                        <md-radio-button value="deo:Introduction" class="md-primary">Introduction</md-radio-button>
                        <md-radio-button value="deo:Materials" class="md-primary">Materials</md-radio-button>
                        <md-radio-button value="deo:Methods" class="md-primary">Methods</md-radio-button>
                        <md-radio-button value="deo:Results" class="md-primary">Results</md-radio-button>
                        <md-radio-button value="sro:Discussion" class="md-primary">Discussion</md-radio-button>
                        <md-radio-button value="sro:Conclusion" class="md-primary">Conclusion</md-radio-button>
                    </md-radio-group>
                </md-input-container>
                <md-content ng-hide="dialog.hasFragment()">Attenzione: questo tipo di annotazione richiede una selezione testuale.
                </md-content>
            </div>

            <!--cites-->
            <span ng-show="dialog.showFields('cites')">
                <span layout="column"  ng-show="dialog.hasFragment()">
                    <h3>Informazioni sull'articolo citato</h3>
                    <md-input-container>
                        <label>Titolo</label>
                        <input ng-model="dialog.annotations.cites.cited.title"/>
                    </md-input-container>
                    <md-chips
                               ng-model="dialog.annotations.cites.cited.authors"
                               md-separator-keys="dialog.keys"
                               placeholder="Autore del documento"
                               secondary-placeholder="Autori, separati da virgola">
                    </md-chips>
                    <br/>
                    <md-input-container>
                        <label>Anno di pubblicazione</label>
                        <input/ ng-model="dialog.annotations.cites.cited.year">
                    </md-input-container>
                    <md-input-container>
                        <label>DOI</label>
                        <input/ ng-model="dialog.annotations.cites.cited.doi">
                    </md-input-container>
                    <md-input-container>
                        <label>URL</label>
                        <input/ ng-model="dialog.annotations.cites.cited.url">
                    </md-input-container>
                </span>
                <md-content ng-hide="dialog.hasFragment()">Attenzione: questo tipo di annotazione richiede una selezione testuale.
                </md-content>
            </span>
        </div>

        <p>
        Autore: {{ dialog.provenance.name}}
        <br>{{dialog.provenance.time | date: medium}}
        </p>

    </md-dialog-content>
    <md-dialog-contents ng-show="dialog.editingSelection">
        <main-area edit="true" content="app.content" render="app.highlight"></main-area>
    </md-dialog-contents>
    <md-dialog-actions flex class="newAnnoButtons" layout="column" layout-align="end end">
        <span ng-hide="dialog.editingSelection" flex>
            <md-button class="md-raised" ng-click="dialog.submit()">Conferma</md-button>
            <md-button class="md-raised" ng-click="dialog.selectText()">Modifica Selezione</md-button>
        </span>
    </md-dialog-actions>

</md-dialog>
