<md-dialog ng-cloak>
    <md-toolbar class="md-toolbar teapot-tb-secondary">
        <div class="md-toolbar-tools">
            <h2>
          <span>Login</span>
        </h2>
        </div>
    </md-toolbar>
    <form layout="column" layout-padding ng-submit="loginModal.submit(loginModal._email, loginModal._password)">
        <md-dialog-content layout="column">

            <div flex="100">
                <md-input-container class="md-block">
                    <label>E-mail</label>
                    <input type="email" ng-model="loginModal._email" autofocus>
                </md-input-container>
            </div>
            <div flex="100">
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" ng-model="loginModal._password">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button type="submit">
                Login
            </md-button>

            <span flex></span>
            <md-button ng-click="loginModal.cancel()">
                Annulla
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
