<md-dialog ng-cloak>
    <md-toolbar class="md-toolbar teapot-tb-secondary">
        <div class="md-toolbar-tools">
            <h2>
          <span>Login</span>
        </h2>
        </div>
    </md-toolbar>
    <form name="LoginForm" layout="column" layout-padding ng-submit="loginModal.submit(loginModal._username, loginModal._email)">
        <md-dialog-content layout="column">

            <div flex="100">
                <md-input-container class="md-block">
                    <label>Nome utente</label>
                    <input name="nomeUtente" type="text" ng-model="loginModal._username" autofocus pattern="^[a-zA-Z1-9]+$" required="required" >
                </md-input-container>
            </div>
            <div flex="100">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input nome="emailUtente" type="text" ng-model="loginModal._email" pattern="^[a-zA-Z1-9]+@[a-zA-Z1-9]+\.[a-zA-Z1-9]+$" required="required">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button type="submit">
                Login
            </md-button>

            <span flex></span>
            <md-button ng-click="loginModal.cancel()">
                Annulla
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
